.Data-displayer {
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

.Data-displayer-row:hover {
  background-color: rgb(147, 147, 147);
}

.MuiButton-root {
  font-size: 1em;
  transition: ease-in-out 0.35s !important;
}

.MuiButton-root:hover {
  font-size: 1.1em;
  transition: ease-in-out 0.35s;
}

@media screen and (max-width: 1024px) {
  .MuiTableCell-root {
    font-size: 12px !important;
  }

  .Data-displayer-avatar {
    width: 40px !important;
    height: 40px !important;
    left: -10%;
  }

  .MuiButton-root {
    font-size: 5px !important;
  }
}

@media screen and (max-width: 768px) {
  .Data-displayer-avatar {
    width: 30px !important;
    height: 30px !important;
    left: -15%;
  }

  .MuiButton-root {
    font-size: 5px !important;
  }
}
