.App {
  font-family: "Roboto", sans-serif;
  background-color: black;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0px;
  padding: 0px;
  border: none;
  z-index: -10;
}

.Crypto-checker {
  font-size: 4rem;
  text-align: center;
  font-weight: bold;
  padding-top: 40px;
  color: white;
}
